body {
    background-color: #dbdbdb;
}

.row, .h3{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* navigation bar */
.navbar{
   border-radius: 10px;
}

.form-control {
    border-radius: 20px; /* Rounded edges */
    border: 2px solid white; /* White border */
    padding-right: 30px; /* Make space for the icon inside the input */
    background-color: #dbdbdb;
    margin-right: -1px;
}
.form-control::placeholder {
    color: #a09d9d; /* Lighter text for placeholder */
}

/* search button */
.btn-primary {
    color: white;
    border-radius: 20px; /* Rounded edges for button */
    background-color: white;
    padding: 0 12px; /* Padding around icon */
    vertical-align: middle; /* Aligns button properly with input */
    border: 2px solid green;
}

.btn-primary:hover {
    background-color: green; /* Change background to green */
    color: white; /* Change text/icon color to white for contrast */
}

.fa-search {
    color: rgb(83, 82, 82); /* Gray color for the icon */
}

.btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        background-color: darkgreen; /* Darker shade for active state */
        color: white;
}
.btn-primary:focus {
    background-color: green;
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.5); /* Adjust the box-shadow color to match */
}

/* patient details */
.row{
    background-color: white;
    border-radius: 20px;
}


.card-body, .card, .row, .col-12 {
    background-color: white; 
    border-radius: 20px;
    border: none;  /* Explicitly remove borders */
    box-shadow: none;  /* Remove any shadows */
}

.col-4{
    padding: 10px;
}

/* container that containes the whole discharge group item*/
.container{
    height: auto;
}

/* date list item */
.list-group-item.active {
    background-color: #28a745; /* Green */
    color: white; /* Text color */
    border-color: white;
}

.list-group-item {
    border-radius: 20px; /* Border radius */
    margin-top: 10px;
    margin-bottom: 10px; /* Add margin between each list item */
}

.list-group{
    border-radius: 20px;
}

/* summarised note section*/
.col-8{
    padding: 10px;
    border-radius: 20px;
}


/* scroll bar of note*/
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: white; /* Set the color of the scrollbar thumb */
    border-color: black;
    border-radius: 20px; /* Set the border radius of the scrollbar thumb */

}

::-webkit-scrollbar-corner{
    display:none;
}


.tab-pane,.tab-content{
    border-radius: 20px;
    padding:10px;
}

/* Styling for nav-item border */
.nav-item {
    border-color: #ffffff; /* Change border color as needed */
    border-radius: 20px;
    padding:10px;
}

/* Styling for non-active nav-link color */
.nav-link:not(.active) {
    color: #dbdbdb; /* Change color for non-active nav-link */
}
